source $(direnv fetchurl "https://raw.githubusercontent.com/numtide/prj-spec/main/contrib/direnv" "sha256-54YaaGly6Q0E8GhFT9fB/h9tN1PDERo2/4R4X0Pdi/c=")

export AWS_CONFIG_FILE=$PRJ_CONFIG_HOME/aws/config

use flake
