name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  check:
    runs-on: ${{ matrix.runs-on.labels }}
    strategy:
      matrix:
        runs-on:
          - labels: [ubuntu-latest]
            system: x86_64-linux
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: DeterminateSystems/nix-installer-action@cd46bde16ab981b0a7b2dce0574509104543276e # v9
      - uses: DeterminateSystems/magic-nix-cache-action@eeabdb06718ac63a7021c6132129679a8e22d0c7 # v3
      - run: nix run nixpkgs#actionlint
      - run: nix build .#amazonImage -L --system ${{ matrix.runs-on.system }}
      - run: nix flake check -L --system ${{ matrix.runs-on.system }}
