name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  check:
    runs-on: ${{ matrix.runs-on.labels }}
    strategy:
      matrix:
        runs-on:
          - labels: [ubuntu-latest]
            system: x86_64-linux
          - labels: [ubuntu-24.04-arm]
            system: aarch64-linux
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@7993355175c2765e5733dae74f3e0786fe0e5c4f # v12
      - run: nix flake check -L --system ${{ matrix.runs-on.system }}
  publish:
    if: github.event_name == 'push'
    needs: [check]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1  
      - uses: DeterminateSystems/nix-installer-action@7993355175c2765e5733dae74f3e0786fe0e5c4f # v12        
      - uses: DeterminateSystems/flakehub-push@8da9e38b7e77f2b0a8aa08a22e57cc5c6316ea72 #v5
        with:
          name: NixOS/amis
          rolling: true
          visibility: public
