name: Plan and Apply
permissions:
  id-token: write
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    outputs:
      exitcode: ${{ steps.plan.outputs.exitcode }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: DeterminateSystems/nix-installer-action@7993355175c2765e5733dae74f3e0786fe0e5c4f # v12
      - uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/plan
          aws-region: ${{ vars.AWS_REGION }}
      - name: Init
        run: |
          cd tf
          nix shell --inputs-from . nixpkgs#opentofu --command ./tofu-init.sh
      - name: Plan
        id: plan
        run: "cd tf\nset +e\nnix shell --inputs-from . nixpkgs#opentofu --command tofu plan -var \"repo=$GITHUB_REPOSITORY\" -detailed-exitcode -out tfplan\nexport exitcode=$?\nset -e\necho \"exitcode=$exitcode\" >> \"$GITHUB_OUTPUT\"\nif [ $exitcode -eq 1 ]; then\n  exit 1\nelse \n  exit 0\nfi\n"
      - name: Publish plan
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: tfplan
          path: tf/tfplan
  apply:
    runs-on: ubuntu-latest
    needs: [plan]
    environment: infra
    if: github.ref == 'refs/heads/main' && needs.plan.outputs.exitcode == 2
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: DeterminateSystems/nix-installer-action@7993355175c2765e5733dae74f3e0786fe0e5c4f # v12
      - uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/apply
          aws-region: ${{ vars.AWS_REGION }}
      - name: Download plan
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: tfplan
          path: tf
      - name: init
        run: |
          cd tf
          nix shell --inputs-from . nixpkgs#opentofu --command ./tofu-init.sh
      - name: Apply plan
        run: |
          cd tf
          nix shell --inputs-from . nixpkgs#opentofu --command tofu apply -auto-approve tfplan
